@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.ttf") format("ttf");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/roboto-bold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
