/*color*/
$basic-tomato: #ff6347;
$basic-black-blue: #413d4c;
$basic-yellow-white: #f5e2cd;
$basic-white: #ffffff;
$darken-blue: #39383f;

$opacity-yellow-white: rgba(240, 207, 173, 0.58);

/*viewbox*/
$width-tablet: 768px;
$width-desktop: 1200px;
