.body {
  font-family: "roboto-regular", "Georgia", serif;
  color: $basic-yellow-white;
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: $darken-blue;
}

.body__cards {
  margin-top: 20px;
}

.body__footer {
  margin-top: 50px;
}
