.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  border-top: 3px solid $opacity-yellow-white;

  @media (min-width: $width-desktop) {
    min-width: 1200px;
  }
}

.footer__email {
  text-align: right;
  min-width: 320px;
  width: 100%;
  font-size: 20px;
  margin: 30px 0;

  @media (min-width: $width-tablet) {
    margin: 30px 0;
    width: 1200px;
  }

  & span {
    border-bottom: 3px solid $basic-yellow-white;
  }

  & a {
    color: $basic-tomato;
    border-bottom: 3px solid $basic-tomato;
    transition-duration: 0.5s;
    padding-left: 10px;
    margin-right: 20px;

    &:hover {
      color: $basic-yellow-white;
    }

    &:focus {
      outline: none;
      color: $basic-yellow-white;
      border-bottom: 3px solid $basic-yellow-white;
    }

    &:active {
      border-bottom: 3px solid $basic-yellow-white;
    }
  }
}
