.header {
  height: 100px;
  background-color: $basic-black-blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.header__wrap {
  min-width: 320px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @media (min-width: $width-desktop) {
    width: 1200px;
  }
}

.header__button-open {
  width: 30px;
  height: 2px;
  background-color: $basic-tomato;
  border: none;
  border-radius: 10px;
  position: relative;
  left: 20px;
  margin-top: 25px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    top: 5px;
    left: 0;
    height: 2px;
    background-color: inherit;
    border-radius: inherit;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    top: -5px;
    left: 0;
    height: 2px;
    border-radius: inherit;
    background-color: inherit;
  }

  &:hover,
  &:hover::before {
    background-color: $opacity-yellow-white;
    transition-duration: 0.5s;
  }

  &:focus,
  &:focus::before {
    background-color: $basic-yellow-white;
  }
}

.header__logo {
  fill: $basic-tomato;
  margin: 0 auto;
}
